<h1>@Model.Name details: </h1>

<h2>@Model.Description</h2>
<h2>@Model.Price</h2>
<h2>@Model.Weight</h2>
<h2>@Model.Owned</h2>

<a href='/items/new'>Add another item to your pack list</a>
<h2>________________________________</h2>
<a href='/items'>View all items</a>